@model ErrorViewModel // Define o modelo de dados para a visão como ErrorViewModel

@{
    ViewData["Title"] = "Error"; // Define o título da página como "Error"
}

<h1 class="text-danger">Error.</h1> <!-- Título principal da página de erro -->
<h2 class="text-danger">An error occurred while processing your request.</h2> <!-- Título secundário informando sobre o erro -->
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code> <!-- Exibe o ID da solicitação se ShowRequestId for verdadeira -->
    </p>
}

<h3>Development Mode</h3> <!-- Título para a seção de Modo de Desenvolvimento -->
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred. <!-- Informação sobre o Modo de Desenvolvimento -->
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong> <!-- Aviso sobre não habilitar o Modo de Desenvolvimento em aplicativos implantados -->
    It can result in displaying sensitive information from exceptions to end users. <!-- Consequências de habilitar o Modo de Desenvolvimento em aplicativos em produção -->
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app. <!-- Instruções sobre como habilitar o Modo de Desenvolvimento localmente -->
</p>
