@{
    // Verifica se existe um valor chamado "ParentLayout" no ViewData e se não é nulo.
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        // Se "ParentLayout" existe e não é nulo, define o Layout como o valor de "ParentLayout".
        Layout = parentLayout.ToString();
    }
    else
    {
        // Se "ParentLayout" não existe ou é nulo, define o Layout como o caminho padrão.
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Configurações da conta</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
