@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Ajuda e suporte";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        Em caso de dúvidas ou sugestões entre em contato conosco.<br />
        <p >
        Telefone: 11 2023-2829<br />
        E-mail: suporte@systempag.com.br
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
