@{
    ViewData["Title"] = "Consulta de Holerite";
}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-4">

    <h1>Consulta de Holerite</h1>
    <br />
    <h3>Nome: </h3>
    <h3>Empresa: </h3>
    

    <div class="form-group">
        <label for="mes">Mês:</label>
        <select class="form-control" id="mes">
            <!-- Adicione opções para seleção de mês aqui -->
        </select>
    </div>

    <div class="form-group">
        <label for="ano">Ano:</label>
        <select class="form-control" id="ano">
            <!-- Adicione opções para seleção de ano aqui -->
        </select>
    </div>
    <br />
    <button class="btn btn-primary" id="gerarHolerite">Gerar Holerite em PDF</button>
</div>
</div>
</div>