@{
    ViewData["Title"] = "Consulta de Holerite";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="text-center">
            <h2>Demonstrativo de Pagamento</h2>
            <br />
            <h5>Nome: </h5> 
            Leonardo Rios <br/>
            <h5>Empresa: </h5> 
            Drogaria São Paulo
            </div>

            <div class="form-group">
                <label for="mes">Mês:</label>
                <select class="form-control" id="mes">
                    <option value="Janeiro">Janeiro</option>
                    <option value="Fevereiro">Fevereiro</option>
                    <option value="Março">Março</option>
                    <option value="Abril">Abril</option>
                    <option value="Maio">Maio</option>
                    <option value="Junho">Junho</option>
                    <option value="Julho">Julho</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Setembro">Setembro</option>
                    <option value="Outubro" selected>Outubro</option> 
                    <option value="Novembro">Novembro</option>
                    <option value="Dezembro">Dezembro</option>
                </select>
            </div>

            <div class="form-group">
                <label for="ano">Ano:</label>
                <select class="form-control" id="ano">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>

                </select>
            </div>
            <br />
            <button class="btn btn-primary btn-block mx-auto w-100" id="gerarHolerite">Consultar</button>
        </div>
    </div>
</div>