@page
@model ForgotPasswordConfirmation
@{
    // Define o título da página.
    ViewData["Title"] = "E-mail de confirmação de redefinição de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    <!-- Exibe uma mensagem de confirmação para o usuário. -->
    Confira seu email para redefinir a senha
</p>
