@page
@model ResetPasswordConfirmationModel
@{
    // Define o título da página
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    <!-- Exibe uma mensagem informando ao usuário que a senha foi redefinida -->
    Sua senha foi redefinida. Por favor <a asp-page="./Login">Clique aqui para efetuar o login</a>.
</p>
